{% if site.favicon %}<link rel="icon" href="{{ site.url }}/assets/logo/{{ site.favicon }}" sizes="any">{% endif %}
{% if site.favicon-32 %}<link rel="icon" type="image/png" href="{{ site.url }}/assets/logo/{{ site.favicon-32 }}" sizes="32x32">{% endif %}
{% if site.apple-touch-icon %}<link rel="apple-touch-icon" href="{{ site.url }}/assets/logo/{{ site.apple-touch-icon }}">{% endif %}
{% if site.android-192 %}<link rel="icon" type="image/png" href="{{ site.url }}/assets/logo/{{ site.android-192 }}" sizes="192x192">{% endif %}
{% if site.android-512 %}<link rel="icon" type="image/png" href="{{ site.url }}/assets/logo/{{ site.android-512 }}" sizes="512x512">{% endif %}
