<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }} - {{ site.title }}</title>

<!-- tailwind css comp -->
<link href="./src/style.css" rel="stylesheet">

<!-- Favicons -->
<link rel="icon" href="assets/logo/favicon.ico" sizes="any">
<link rel="icon" type="image/png" href="assets/logo/favicon-32.png" sizes="32x32">
<link rel="apple-touch-icon" href="assets/logo/apple-touch-icon.png">
<link rel="icon" type="image/png" href="assets/logo/android-chrome-192.png" sizes="192x192">
<link rel="icon" type="image/png" href="assets/logo/android-chrome-512.png" sizes="512x512">
<link rel="manifest" href="assets/logo/site.webmanifest">


<!-- Google Font: Inter -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

<style>
    body {
        font-family: 'Inter', sans-serif;
    }
</style>
