<section class="bg-indigo-600 text-white rounded-lg shadow-xl my-20 p-12 text-center">
    <h2 class="text-3xl font-bold mb-4">Want to meet the creator?</h2>

    <p class="text-lg text-indigo-100 mb-8 max-w-xl mx-auto">
        Read more in-depth about who Endo is using the button down below.
    </p>

    <a href="#" class="inline-block bg-white text-indigo-600 font-semibold py-3 px-6 rounded-lg shadow-lg hover:bg-gray-100 hover:translate-y-[-2px] transition-transform transition-colors">
        Learn More
    </a>
</section>


